In [1]:
import pandas as pd
from infoframe import make_infoframe
import os
import re
import numpy as np
import zipfile

In [2]:
police_report_fname = "input files/Police_Department_Incident_Reports__2018_to_Present.csv"
if not os.path.exists(police_report_fname):
    with zipfile.ZipFile("input files/police department incident reports.zip") as zf:
        zf.extract("Police_Department_Incident_Reports__2018_to_Present.csv", path='input files')
reports = pd.read_csv(police_report_fname)

In [3]:
dfdict = pd.read_excel("input files/Production 1 and 2 combined by Isaiah without modification.xlsx",
                    sheet_name=None)

In [4]:
cases = pd.read_csv("input files/District_Attorney_Incoming_Caseload.csv")

In [5]:
incident_codes = pd.read_excel("input files/incident_code_legend.xlsx")
incident_codes.head(4)

,Incident Code,Incident Category,Incident Subcategory,Incident Description
0,1000,Homicide,Homicide,Homicide
1,1001,Homicide,Homicide,"Homicide, W/ Gun"
2,1002,Homicide,Homicide,"Homicide, W/ Sharp Object"
3,1003,Homicide,Homicide,"Homicide, W/ Other Weapon"

In [6]:
reports.head()

,Incident Datetime,Incident Date,Incident Time,Incident Year,Incident Day of Week,Report Datetime,Row ID,Incident ID,Incident Number,CAD Number,...,Longitude,Point,Neighborhoods,ESNCAG - Boundary File,Central Market/Tenderloin Boundary Polygon - Updated,Civic Center Harm Reduction Project Boundary,HSOC Zones as of 2018-06-05,Invest In Neighborhoods (IIN) Areas,Current Supervisor Districts,Current Police Districts
0,2021/09/29 12:59:00 PM,2021/09/29,12:59,2021,Wednesday,2021/09/29 06:48:00 PM,107597928150,1075979,216138427,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021/05/14 01:51:00 AM,2021/05/14,01:51,2021,Friday,2021/05/14 01:57:00 AM,103010326030,1030103,210295348,211340138.0,...,-122.387373,POINT (-122.38737260846696 37.74425940578451),56.0,NaN,NaN,NaN,NaN,NaN,9.0,2.0
2,2021/03/01 08:00:00 AM,2021/03/01,08:00,2021,Monday,2021/09/26 11:40:00 AM,107606971000,1076069,216138659,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021/04/01 12:00:00 PM,2021/04/01,12:00,2021,Thursday,2021/05/04 09:22:00 AM,102792271000,1027922,216049830,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021/06/01 07:01:00 AM,2021/06/01,07:01,2021,Tuesday,2021/09/19 06:21:00 AM,107592206244,1075922,216138552,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
cases.head()

,ID,Incident Number,Court Number,Arrest Date,Filed Case Type,List of Filed Charges,Crime Type,Crime Description,Type
0,1,110002007,11000087,2011/01/01,Felony,",11357(A),11357(B),11357(C),11359,11360(A),113...",DRUG,Narcotics,New Filing
1,2,110002007,11000088,2011/01/01,Felony,",11357(A),11357(B),11357(C),11359,11360(A),",DRUG,Narcotics,New Filing
2,3,110002455,11000097,2011/01/01,Felony,",11364(A),459,466,496(A),",BUR,Burglary,New Filing
3,4,110000998,11000058,2011/01/01,Misdemeanor,",23152(B),23153(A),23153(B),23153(a),23578,",DUI,DUI,New Filing
4,5,11000095,2457633,2011/01/01,Misdemeanor,",148(A)1,148(a)(1),243(B),",ASLT,Assault-Misdemean,New Filing

In [8]:
cases.dropna(subset=['Incident Number'], inplace=True)

In [9]:
cases = cases.loc[:, ['Incident Number', 'Court Number']]

In [10]:
reports.columns

Index(['Incident Datetime', 'Incident Date', 'Incident Time', 'Incident Year',
       'Incident Day of Week', 'Report Datetime', 'Row ID', 'Incident ID',
       'Incident Number', 'CAD Number', 'Report Type Code',
       'Report Type Description', 'Filed Online', 'Incident Code',
       'Incident Category', 'Incident Subcategory', 'Incident Description',
       'Resolution', 'Intersection', 'CNN', 'Police District',
       'Analysis Neighborhood', 'Supervisor District', 'Latitude', 'Longitude',
       'Point', 'Neighborhoods', 'ESNCAG - Boundary File',
       'Central Market/Tenderloin Boundary Polygon - Updated',
       'Civic Center Harm Reduction Project Boundary',
       'HSOC Zones as of 2018-06-05', 'Invest In Neighborhoods (IIN) Areas',
       'Current Supervisor Districts', 'Current Police Districts'],
      dtype='object')

In [11]:
reports = reports.loc[:, ['Incident Number',
                          'Incident Date',
                          'Incident Category',
                          'Incident Subcategory',
                          'Incident Description',
                          'Incident Code',
                         ]
                     ]

In [12]:
reports['Incident Number'] = reports['Incident Number'].astype(str)

In [13]:
case_rep = pd.merge(reports, cases, on = 'Incident Number')

In [14]:
case_rep.head()

,Incident Number,Incident Date,Incident Category,Incident Subcategory,Incident Description,Incident Code,Court Number
0,200375314,2021/05/14,Warrant,Other,"Warrant Arrest, Local SF Warrant",63010,20007176
1,200375314,2020/06/22,Assault,Aggravated Assault,"Assault, Aggravated, On Police Officer, W/ Force",4074,20007176
2,200375314,2020/06/22,Robbery,Robbery - Other,"Robbery, W/ Force",3074,20007176
3,200375314,2020/06/22,Robbery,Robbery - Other,"Robbery, W/ Force",3074,20007176
4,200375314,2020/06/22,Other Miscellaneous,Intimidation,Threat or Force to Resist Executive Officer,27171,20007176

In [15]:
def try_float(x):
    try:
        return float(x)
    except:
        return float('nan')

In [16]:
case_rep.drop(['Filed Online', 
               'Invest In Neighborhoods (IIN) Areas',
               'Point'], errors='ignore', inplace=True, axis=1)

In [17]:
make_infoframe(case_rep)

,nanpct,dtype,nunique,top,freq,mean,std,min,25%,50%,75%,max
Incident Number,0.000000,object,13548,190071345,136,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Incident Date,0.000000,object,1315,2019/07/07,121,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Incident Category,0.000494,object,45,Other Miscellaneous,7318,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Incident Subcategory,0.000494,object,65,Other,12545,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Incident Description,0.000000,object,565,"Warrant Arrest, Local SF Warrant",4710,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Incident Code,0.000000,int64,567,NaN,NaN,24864.796142,22934.957227,1000.0,6304.0,16623.0,28150.0,75030.0
Court Number,0.000000,int64,14685,NaN,NaN,18004234.911366,3847207.389944,2476784.0,18009666.0,19003712.0,20000956.0,21004797.0

In [18]:
for name, df in dfdict.items():
    dfdict[name] = df.rename(str.strip, axis = 1)

In [19]:
for col in ['original->', 'prod2on1', 'prod1on2']:
    try:
        del dfdict[col]
    except:
        pass
prod1, prod2 = list(dfdict.values())
dfdict['prod1on2'] = pd.merge(prod1, prod2, left_on = 'Court.No', right_on = 'Court #')
prod1on2 = dfdict['prod1on2']

In [20]:
infos = {k: make_infoframe(v) for k,v in dfdict.items()}

In [21]:
{k: len(v) for k, v in dfdict.items()}

{'prod1': 25397, 'prod2': 14926, 'prod1on2': 13417}

In [22]:
infos['prod1on2']

,nanpct,dtype,nunique,top,freq,mean,min,25%,50%,75%,max,std
Court.No,0.000000,int64,13417,NaN,NaN,17594091.860401,2490808.0,18008092.0,19000947.0,19016971.0,21008682.0,4417439.756205
Filing.Date,0.000000,datetime64[ns],920,NaN,NaN,2019-04-30 08:00:10.732652800,2018-01-02 00:00:00,2018-08-02 00:00:00,2019-03-06 00:00:00,2019-11-27 00:00:00,2021-09-07 00:00:00,NaN
Status,0.000000,object,2,CLO,13344,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Attempt,0.047030,float64,2,NaN,NaN,0.034882,0.0,0.0,0.0,0.0,1.0,0.183488
Filed.Charge.List,0.047030,object,7937,490.2A/M/0,360,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Case.Dispo,0.000000,int64,49,NaN,NaN,143.948498,39.0,72.0,190.0,190.0,999.0,85.475438
Case.Dispo.Date,0.005963,datetime64[ns],970,NaN,NaN,2019-11-16 10:23:44.668216320,2018-01-03 00:00:00,2019-01-24 00:00:00,2019-09-30 00:00:00,2020-08-28 00:00:00,2021-12-01 00:00:00,NaN
Dispo.Description,0.006261,object,44,County Jail w/ Probation Condition,5386,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Arrest Date,0.000000,object,1542,2018-04-25 00:00:00,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Court #,0.000000,int64,13417,NaN,NaN,17594091.860401,2490808.0,18008092.0,19000947.0,19016971.0,21008682.0,4417439.756205
Filing Date,0.000000,datetime64[ns],920,NaN,NaN,2019-04-30 20:06:40.327941888,2018-01-02 00:00:00,2018-08-02 00:00:00,2019-03-06 00:00:00,2019-11-27 00:00:00,2021-09-07 00:00:00,NaN
Dispo Code,0.000000,object,47,190.0,5395.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dispo Description,0.000000,object,47,County Jail W/ Probation Condi,5395,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dispo Date,0.000000,datetime64[ns],974,NaN,NaN,2019-11-19 01:16:57.187150592,2018-01-03 00:00:00,2019-01-25 00:00:00,2019-10-02 00:00:00,2020-09-01 00:00:00,2021-12-07 00:00:00,NaN
Case Stage,0.000000,object,29,,4314,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Custody Status,0.000000,object,3,,5102,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Outcome,0.000000,object,9,GP,5837,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Outcome Sub-Type,0.000000,object,14,NEG,5683,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Outcome Sub-Type Description,0.000000,object,14,Negotiated,5683,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dispo Case Type,0.000000,object,5,Misdemeanor,7300,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sentence Type,0.000000,object,14,,7622,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SP Term,0.000000,object,36,,12823,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SP Term Unit,0.000000,object,5,,12817,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CJ Term,0.000000,object,289,,8686,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CJ Term Unit,0.000000,object,6,,8640,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Supervision Term,0.000000,object,27,,9229,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SupervisionTerm Unit,0.000000,object,5,,9213,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Program Term,0.000000,object,37,,11964,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Program Term Unit,0.000000,object,6,,11958,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Forfeiture,0.000000,object,24,,13394,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Outcome Description,0.000000,object,9,Guilty Plea,5837,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
unit_per_year = {
    '': float('nan'),
    'Hour': 24 * 365.,
    'Day': 365.,
    'Week': 52.,
    'Month': 12.,
    'Year': 1.,
    'Y+1': 366/365,
}

def term_to_float(term, from_unit, to_unit = 'Day'):
    return try_float(term) * unit_per_year[to_unit] / unit_per_year[from_unit]

In [24]:
unit_vars = ['SP Term Unit', 'CJ Term Unit', 'SupervisionTerm Unit', 'Program Term Unit']
term_vars = ['SP Term', 'CJ Term', 'Supervision Term', 'Program Term']
for uvar, var in zip(unit_vars, term_vars):
    prod1on2[term_vars[-1]] = prod1on2.apply(lambda x: term_to_float(x[term_vars[-1]], 
                                                            x[uvar].strip()), axis=1)
prod1on2.drop(unit_vars, inplace=True, axis=1, errors='ignore')

In [25]:
def zero_if_dismissed(x, dismissed):
    if dismissed:
        return 0
    return x

prod1on2['dismissed'] = prod1on2['Outcome Sub-Type Description'].str.contains('(?i)dism', regex=True) \
                        | prod1on2['Outcome Description'].str.contains('(?i)dism', regex=True)

for var in term_vars:
    prod1on2[var] = prod1on2.apply(lambda x: zero_if_dismissed(x[var], x['dismissed']), axis=1)

In [26]:
prod1on2.to_excel('output files/Productions 1+2 Mark Olson merge.xlsx', index = False)

In [27]:
all_join = pd.merge(case_rep, prod1on2, left_on='Court Number', right_on='Court.No') \
             .drop(['Court.No', 'Court #'], axis=1, errors='ignore') \
             .reset_index()

In [28]:
all_join.head()

,index,Incident Number,Incident Date,Incident Category,Incident Subcategory,Incident Description,Incident Code,Court Number,Filing.Date,Status,...,Outcome Sub-Type Description,Dispo Case Type,Sentence Type,SP Term,CJ Term,Supervision Term,Program Term,Forfeiture,Outcome Description,dismissed
0,0,210293734,2021/05/13,Disorderly Conduct,Intimidation,Terrorist Threats,19057,21004755,2021-05-14,CLO,...,,Felony,,,,,NaN,,,False
1,1,210293734,2021/05/13,Assault,Aggravated Assault,"Assault, Aggravated, W/ Other Weapon",4013,21004755,2021-05-14,CLO,...,,Felony,,,,,NaN,,,False
2,2,210293734,2021/05/13,Other Miscellaneous,Other,Conspiracy,26080,21004755,2021-05-14,CLO,...,,Felony,,,,,NaN,,,False
3,3,210276677,2021/05/06,Weapons Carrying Etc,Weapons Offense,"Firearm, Possession of Loaded",12100,21004514,2021-05-10,CLO,...,,Misdemeanor,,,,,NaN,,,False
4,4,210276677,2021/05/06,Motor Vehicle Theft,Motor Vehicle Theft,"Vehicle, Recovered, Stolen outside SF",7055,21004514,2021-05-10,CLO,...,,Misdemeanor,,,,,NaN,,,False

In [29]:
all_join.to_excel('output files/' + 
                  'incident reports JOIN da caseload JOIN prod1 JOIN prod2.xlsx', index=False)

In [30]:
def change_infoframe_terminology(info):
    new_info = info.rename({'nanpct': 'Fraction missing values',
                           'nunique': 'num unique values'},
                          axis=1)
    new_info['dtype'] = new_info['dtype'].apply(str).map({'int64': 'Whole Number',
                                                          'float64': 'Decimal number',
                                                          'object': 'text',
                                                          'datetime64[ns]': 'Date + time'})
    return new_info

In [31]:
all_join_description = change_infoframe_terminology(make_infoframe(all_join))
all_join_description.to_excel('output files/' +
            'SUMMARY STATISTICS incident reports JOIN da caseload JOIN prod1 JOIN prod2.xlsx')

In [32]:
all_join_description.filter(regex='Term', axis=0)

,Fraction missing values,dtype,num unique values,top,freq,mean,min,25%,50%,75%,max,std
SP Term,0.000000,text,29,,23206,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CJ Term,0.000000,text,246,,12048,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Supervision Term,0.000000,text,22,,13302,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Program Term,0.809282,Decimal number,13,NaN,NaN,103078826.922974,0.0,0.0,0.0,0.0,17748900625.0,1331385835.325045

In [33]:
gb_inc_subcat_description = all_join.groupby('Incident Subcategory')\
                                    .describe(include='all', datetime_is_numeric=True)
gb_inc_subcat_description = gb_inc_subcat_description.loc[:,
                                                      ~gb_inc_subcat_description.apply(lambda x: x.isna().all(), 
                                                                                       axis=0)
                                                     ] # drop columns with all NA's
gb_inc_subcat_description.to_excel('output files/SUMMARY BY Incident Subcategory FOR '
                                 'incident reports JOIN da caseload JOIN prod1 JOIN prod2.xlsx')

In [34]:
gb_inc_subcat_description

                        index                                           \
                        count          mean     min       25%      50%
Incident Subcategory
Aggravated Assault     1616.0  15230.967822     1.0   7401.75  15685.5
Arson                   238.0  17039.789916   103.0   8659.75  18997.0
Bad Checks                1.0   5347.000000  5347.0   5347.00   5347.0
Burglary - Commercial   521.0  15961.579655    59.0   9020.00  14414.0
Burglary - Hot Prowl    383.0  15415.227154   179.0   8819.50  16137.0
...                       ...           ...     ...       ...      ...
Trespass                230.0  15818.656522   294.0   9465.25  16100.0
Vandalism              1221.0  16180.242424    53.0   8687.00  17078.0
Vehicle Impounded        30.0  17095.200000   719.0  12266.50  17001.0
Warrant                 709.0  14972.170663    17.0   7275.00  15095.0
Weapons Offense        1610.0  15442.208696     3.0   7278.75  15337.5

                                                      Incident Number         \
                            75%      max          std           count unique
Incident Subcategory
Aggravated Assault     22695.00  30702.0  9076.156083            1616    841
Arson                  25875.00  30700.0  9761.616500             238    149
Bad Checks              5347.00   5347.0          NaN               1      1
Burglary - Commercial  23986.00  30699.0  9098.997943             521    260
Burglary - Hot Prowl   21643.50  30673.0  8565.656113             383    166
...                         ...      ...          ...             ...    ...
Trespass               22436.25  30024.0  8283.368395             230    183
Vandalism              23751.00  30703.0  8817.825500            1221    749
Vehicle Impounded      22973.50  29100.0  7483.519960              30     25
Warrant                22359.00  30565.0  8459.644707             709    522
Weapons Offense        23709.75  30624.0  9143.578151            1610    734

                       ...        Forfeiture       Outcome Description         \
                       ...               top  freq               count unique
Incident Subcategory   ...
Aggravated Assault     ...                    1616                1616      7
Arson                  ...                     238                 238      4
Bad Checks             ...                       1                   1      1
Burglary - Commercial  ...                     521                 521      5
Burglary - Hot Prowl   ...                     383                 383      6
...                    ...               ...   ...                 ...    ...
Trespass               ...                     230                 230      7
Vandalism              ...                    1221                1221      8
Vehicle Impounded      ...                      30                  30      4
Warrant                ...                     708                 709      7
Weapons Offense        ...                    1609                1610      7

                                                dismissed
                                       top freq     count unique    top  freq
Incident Subcategory
Aggravated Assault     Guilty Plea          889      1616      2  False  1328
Arson                                       129       238      2  False   222
Bad Checks             Guilty Plea            1         1      1  False     1
Burglary - Commercial  Guilty Plea          279       521      2  False   452
Burglary - Hot Prowl   Guilty Plea          225       383      2  False   331
...                                    ...  ...       ...    ...    ...   ...
Trespass               Guilty Plea           84       230      2  False   166
Vandalism              Guilty Plea          635      1221      2  False  1034
Vehicle Impounded      Guilty Plea           13        30      2  False    26
Warrant                Guilty Plea          379       709      2  False   544
Weapons Offense        Guilty Plea          691      1610      2  False  1096

[64 rows x 168 columns]

In [35]:
gb_inc_subcat_description.filter(regex='Term', axis=1)

                      SP Term                       CJ Term                  \
                        count unique      top  freq   count unique      top
Incident Subcategory
Aggravated Assault       1616     17           1174    1616    138
Arson                     238      5            214     238     40
Bad Checks                  1      1              1     1.0    1.0    288.0
Burglary - Commercial     521     12            428     521     48
Burglary - Hot Prowl      383      9            284     383     46
...                       ...    ...      ...   ...     ...    ...      ...
Trespass                  230      6            161     230     40
Vandalism                1221     11            987    1221     83
Vehicle Impounded          30      2             26      30      8
Warrant                   709      9            516     709     75
Weapons Offense          1610     14           1014    1610     95

                           Supervision Term                                \
                      freq            count unique               top freq
Incident Subcategory
Aggravated Assault     610             1616     10                    680
Arson                  138              238      6                    192
Bad Checks             1.0              1.0    1.0               4.0  1.0
Burglary - Commercial  228              521      7                    254
Burglary - Hot Prowl   141              383      9                    178
...                    ...              ...    ...               ...  ...
Trespass                92              230      7                    104
Vandalism              511             1221      7                    553
Vehicle Impounded       16               30      4                     15
Warrant                224              709      8                    283
Weapons Offense        522             1610     11                    592

                      Program Term                                    \
                             count          mean  min  25%  50%  75%
Incident Subcategory
Aggravated Assault           301.0  1.778687e+08  0.0  0.0  0.0  0.0
Arson                         16.0  0.000000e+00  0.0  0.0  0.0  0.0
Bad Checks                     0.0           NaN  NaN  NaN  NaN  NaN
Burglary - Commercial         69.0  0.000000e+00  0.0  0.0  0.0  0.0
Burglary - Hot Prowl          54.0  3.288334e+08  0.0  0.0  0.0  0.0
...                            ...           ...  ...  ...  ...  ...
Trespass                      65.0  7.481096e+05  0.0  0.0  0.0  0.0
Vandalism                    187.0  0.000000e+00  0.0  0.0  0.0  0.0
Vehicle Impounded              4.0  0.000000e+00  0.0  0.0  0.0  0.0
Warrant                      166.0  0.000000e+00  0.0  0.0  0.0  0.0
Weapons Offense              527.0  1.407295e+08  0.0  0.0  0.0  0.0


                                max           std
Incident Subcategory
Aggravated Assault     1.774890e+10  1.765939e+09
Arson                  0.000000e+00  0.000000e+00
Bad Checks                      NaN           NaN
Burglary - Commercial  0.000000e+00  0.000000e+00
Burglary - Hot Prowl   1.774890e+10  2.415299e+09
...                             ...           ...
Trespass               4.862712e+07  6.031453e+06
Vandalism              0.000000e+00  0.000000e+00
Vehicle Impounded      0.000000e+00  0.000000e+00
Warrant                0.000000e+00  0.000000e+00
Weapons Offense        1.774890e+10  1.546753e+09

[64 rows x 20 columns]

In [36]:
change_infoframe_terminology(
        all_join.groupby('Incident Subcategory').apply(make_infoframe)
).to_excel('output files/MORE DETAILED SUMMARY BY Incident Subcategory.xlsx')

1.   For all cases with disposition dates of January 1, 2020 until the present, letâ€™s extract those cases that have the following incident codes:  3011, 3012, 3013, 3014, 3411, 3412, 3413, 3414, which are categorized as street robberies, and attempted street robberies.

2.   For this subset of street robbery offenses, letâ€™s put all the dismissed or discharged cases at the top of our list.  Would be helpful to see how many cases were dumped by Chesa.

3.   Following the discharged cases, letâ€™s have all the cases that have a specific county jail sentences assigned, where they tell us the actual number of days the defendant got

4.   Next on the list are those with specific state prison sentences, where they provide the actual length of the sentence

5.   Next are those that donâ€™t have a specific county jail term, but itâ€™s indicated that the disposition is â€œcounty jailâ€ or â€œcounty jail with probation.â€

5.   Next are those that donâ€™t have a specific state prison sentence, but itâ€™s indicated that the disposition is â€œstate prison.â€

6.   Last on the list are those street robbery cases with any other types of dispositions like â€œdiversion.â€

In [37]:
all_join['Year'] = all_join['Incident Date'].str.slice(0, 4).astype(int)

In [38]:
robberies = all_join[all_join['Incident Code'].isin({3011, 3012, 3013,
                                                    3014, 3411, 3412, 3413, 3414})] \
                    .reset_index(drop=True)

In [39]:
robberies_by_dism_yr = robberies.groupby(['Year', 'dismissed']).index.count()
robberies_by_dism_yr.to_excel('output files/' +
                            'Number of robberies by year and dismissal status.xlsx')
robberies_by_dism_yr

Year  dismissed
2018  False        92
      True          7
2019  False        64
      True          6
2020  False        28
      True          9
2021  False         2
Name: index, dtype: int64

In [40]:
def make_rank_dism_jail(row):
    if row['dismissed']:
        return 0
    try:
        if not (np.isnan(row['CJ Term']) or row['CJ Term'] == 0):
            return 1
    except TypeError:
#         print(repr(row['CJ Term']))
        pass
    try:
        if not (np.isnan(row['SP Term']) or row['SP Term'] == 0):
            return 2
    except TypeError:
#         print(repr(row['SP Term']))
        pass
    if re.search('county\s*jail', row['Dispo Description'], re.IGNORECASE):
        return 3
    if re.search('state\s*prison', row['Dispo Description'], re.IGNORECASE):
        return 4
    return 5

In [41]:
def split_by_years(df, excel_fname):
    new_df = df.copy()
    new_df['ordering'] = new_df.apply(make_rank_dism_jail, axis=1)
    df_2018_19 = new_df[new_df.Year.isin({2018, 2019})].reset_index(drop=True)
    df_2020_22 = new_df[new_df.Year > 2019].reset_index(drop=True)
    uniques = pd.Series(new_df['Incident Category'].unique()).sort_values()
    with pd.ExcelWriter(excel_fname, 
                        engine="openpyxl", 
                        mode="a", 
                        if_sheet_exists="replace") as writer:  
        df_2018_19.to_excel(writer, sheet_name='2018-2019', index=False)
        df_2020_22.to_excel(writer, sheet_name='2020-2021', index=False)
        uniques.to_excel(writer, sheet_name='all unique incident categories', 
                         index=False,
                         header = ['Incident Category'])
    return df_2018_19, df_2020_22

In [42]:
all_2018, all_2020 = split_by_years(all_join, 'output files/incident reports JOIN da caseload'
                                    ' JOIN prod1 JOIN prod2 BY YEAR.xlsx')

C:\Users\mjols\Python39\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [44]:
rob_2018, rob_2020 = split_by_years(robberies, 'output files/robberies BY YEAR.xlsx')

In [45]:
robberies['ordering'] = robberies.apply(make_rank_dism_jail, axis=1)
robberies.sort_values('ordering').to_excel('output files/' +
                                         'Robberies ordered by dismissal and dispo.xlsx',
                                        index=False)